<app-form-page-wrapper>
  <app-form-builder 
    [form]="form" 
    [sections]="sections" 
    [card]="true"
    [buttonTitle]="'Guardar Cambios'"
    (submit)="onSubmit($event)">
  </app-form-builder>
  <app-table
    [data]="data"
    [columns]="columns"
    [loading]="loading"
    [paginator]="paginator"
    [rows]="rows"
    [first]="first"
    [rowsPerPageOptions]="rowsPerPageOptions"
    [totalRecords]="totalRecords"
    (onPage)="onPageChange($event)"
    (rowSelect)="onRowSelect($event)"
    (rowAction)="onRowAction($event)"
    (onFilter)="onFilter($event)">
  </app-table>
</app-form-page-wrapper>